<h1>Showing Phrase:</h1>
<p><span class="label">English:</span></p>
<%= @phrase.eng %>
<p><span class="label">Normangian:</span></p>
<%= @phrase.eng %>
<p ><span class="label">Categorized under:</span> <%= link_to @phrase.category.title, category_path(@phrase.category.id) %></p>

<p><%= link_to "Edit", edit_word_path(@phrase) %></p>