<div class="nav">
  <div id="logo">SPRAIK</div>
  <ul>
    <li><a href="#">Word Directory</a></li>
    <li><a href="#">Interactive Learning</a></li>
    <li><a href="#">Literature</a></li>
  </ul>
</div>