/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 .label {
     font-weight: bold;
 }
 
 .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100%;
  color: white;
  background: #333399;
  
  li {
    display: inline-block;
    list-style: none;
  }
  
  a {
    padding: 35px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    
    &:hover {
      background-color: #6666cc;
    }
  }
  
  
  
}

body {
  font-family: Roboto;
  min-width: 240px;
  overflow-x: none;
}

@media screen and (max-width: 500px) {
 
 .nav {
   justify-content: left;
   height: 200px;
   font-size: 20px;
  }
  
 .nav ul {
   margin-top: -10px;
 }
 
 .nav ul li {
   display: block;
   margin-top: 20px;
 }
 
 .nav a {
  padding: 10px;
 }
}
 
 
